.pain-scale {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pain-scale h3 {
    font-weight: bold;
}

.pain-scale .container-slider {
    width: 100%;

    padding: 1rem;
    box-sizing: border-box;
}

.pain-scale .container-slider .faces span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pain-scale .container-slider .faces span label,
.pain-scale .container-slider .faces span label span {
    width: fit-content;
    height: fit-content;
}

.pain-scale .container-slider .faces span label span svg {
    font-size: 2.5rem;
}

.pain-scale .container-slider .slider {
    width: 100%;
}

.pain-scale .description {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

.pain-scale .description h4{    
    display: block;
    width: 9rem;
    padding: 0;
    text-align: center;
    margin: auto 0;
    word-wrap: break-word;
}