.pain-scale {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pain-scale h3 {
    font-weight: bold;
}

.pain-scale .container-slider {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.pain-scale .container-slider .faces .MuiRating-icon {
    transform: none;
    transition: none;
    scale: 1;
    pointer-events: none;
    cursor: default;
}

.pain-scale .container-slider .faces .MuiRating-root {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pain-scale .container-slider .faces span label:has(#highlight-selected-only-empty) {
    display: none;
}

.pain-scale .container-slider .faces span label,
.pain-scale .container-slider .faces span label span {
    width: fit-content;
    height: fit-content;
}

.pain-scale .container-slider .faces span label span svg {
    font-size: 2.5rem;
}

.pain-scale .container-slider .slider {
    padding-left: calc(2.5rem/2);
    padding-right: calc(2.5rem/2);
    width: 100%;
    box-sizing: border-box;
}

.pain-scale .description {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

.pain-scale .description h4 {
    display: block;
    padding: 0;
    text-align: center;
    margin: auto 0;
    word-wrap: break-word;
    color: var(--error);
}

.pain-scale .description h4 .one {
    width: calc(100%/11);
    color: var(--green-secondary);
}

.pain-scale .description h4 .two {
    width: calc((100%-(100%/11))/5);
}

.pain-scale .description h4#zero,
.pain-scale .description h4#one {
    color: var(--success);
}

.pain-scale .description h4#two {
    color: var(--secondary);
}

.pain-scale .description h4#three {
    color: var(--primary);
}

.pain-scale .description h4#four {
    color: var(--warning);
}