.voice-recording {
    display: flex;
}

.voice-recording .transcription {
    margin: 3rem 2rem;
    min-height: 100%;
    width: 70%;
    padding: 1.5rem;
    text-align: justify;
}

.voice-recording .buttons {
    margin: 3rem 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.voice-recording .buttons .icon {
    height: 4rem;
    padding: 1rem;
    border-radius: 30rem;
    margin: 1rem;
}

.voice-recording .buttons .icon:hover {
    filter: drop-shadow(2px 2px 0px #3f3f3f71);
    cursor: pointer;
    color: red;
}

.voice-recording .buttons .icon:active {
    background-color: aqua;
    cursor: pointer;
}

.voice-recording .buttons button {
    width: fit-content;
    background-color: var(--green-secondary);
    font-weight: bolder;
    font-size: medium;
    border: 2px var(--green-secondary) outset;
}

.voice-recording .buttons button:hover {
    background-color: var(--green-tertiary);
    cursor: pointer;
    border: 2px var(--green-secondary) inset;
}