.voice-recording {
    display: flex;
    padding: 2rem;
    height: fit-content;
    box-sizing: border-box;
}

.voice-recording div.audio {
    min-width: 19rem;
    width: 50%;
    height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0 1rem;
}

.voice-recording div.audio audio {
    padding: 0.5rem 0;
    max-width: 15rem;
}

.voice-recording .buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.voice-recording .buttons .audio-recorder {
    background-color: var(--green-secondary);
    font-weight: bolder;
    font-size: medium;
    border: 2px var(--green-secondary) outset;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    margin: 0 1rem;
}

.voice-recording .buttons .audio-recorder:hover {
    background-color: var(--green-tertiary);
    cursor: pointer;
    border: 2px var(--green-secondary) inset;
}

.voice-recording .buttons img.audio-recorder-mic {
    height: 1.5rem;
    margin: 0 auto;
}

.voice-recording .buttons div.audio-recorder.recording {
    width: 10rem;
}

.voice-recording .buttons span.audio-recorder-status {
    display: none;
}

.voice-recording .buttons button {
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    background-color: var(--green-secondary);
    font-weight: bolder;
    font-size: medium;
    border: 2px var(--green-secondary) outset;
}

.voice-recording .buttons button:hover {
    background-color: var(--green-tertiary);
    cursor: pointer;
    border: 2px var(--green-secondary) inset;
}



/*Responsividade*/
@media (max-width: 759px) {
    .voice-recording .buttons {
        flex-direction: column;
    }

    .voice-recording .buttons div.audio {
        min-height: 5rem;
        width: 90%;
        box-sizing: border-box;
    }
}