.voice-recording {
    display: flex;
    padding: 2rem;
    height: fit-content;
    box-sizing: border-box;
}

.voice-recording .transcription {
    margin: 0;
    margin-right: 2rem;
    min-height: 100%;
    width: 70%;
    padding: 1.5rem;
    text-align: justify;
}

.voice-recording .buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.voice-recording .buttons .audio-recorder {
    margin-bottom: 1rem;
    background-color: var(--green-primary);
    width: fit-content;
    height: fit-content;
    border-radius: 30rem;
    border: 2px var(--green-secondary) outset;
}

.voice-recording .buttons img.audio-recorder-mic {
    filter: brightness(0.1) invert(.3) sepia(.1) hue-rotate(42deg) saturate(15000%);
    height: 1.5rem;
    padding: 0.5rem;
}

.voice-recording .buttons div.audio-recorder.recording {
    width: fit-content;
}

.voice-recording .buttons span.audio-recorder-status {
    display: none;
}

.voice-recording .buttons button {
    background-color: var(--green-secondary);
    font-weight: bolder;
    font-size: medium;
    border: 2px var(--green-secondary) outset;
}

.voice-recording .buttons button:hover {
    background-color: var(--green-tertiary);
    cursor: pointer;
    border: 2px var(--green-secondary) inset;
}