.box-baymax {
    height: 60%;
    background-color: var(--yellow-primary);
    display: flex;
    justify-content: stretch;
}

.box-baymax div.img-baymax {
    width: 50%;
    padding-left: 2rem;
    padding-top: 2rem;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.box-baymax div.img-baymax img {
    width: 100%;
    max-height: 100%;
}

.box-baymax div.box-text {
    width: 50%;
    padding: 2rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
}

.box-baymax div.box-text h3 {
    width: 100%;
    background-color: var(--white);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 30px 30px 30px 0;
    margin: 0;
    text-align: center;
    font-weight: normal;
}