@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --white: #FEFEFE;
  --yellow-primary: #FFF46C;
  --yellow-secondary: #FFC94E;
  --orange-primary: #F3C065;
  --orange-secondary: #FF9E59;
  --red-primary: #FF5959;
  --pink-primary: #FF84AD;
  --pink-secondary: #FF6095;
  --pink-contrast: #B2003B;
  --blue-primary: #BCE7FF;
  --blue-secondary: #20AFFF;
  --green-primary: #BFFF77;
  --green-secondary: #9BDD7E;
  --green-tertiary: #62B13F;
  --green-contrast: #1F6600;
  --gray-primary: #B5B5B5;
  --gray-secondary: #818181;
  --gray-tertiary: #505050;
  --black: #000000;
  --font-montserrat: 'Montserrat', sans-serif;
  --success: #3B853F;
  --secondary: #9C27B0;
  --primary: #1E79D3;
  --warning: #ED6C02;
  --error: #D32F2F;
}

html {
  background-color: var(--white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}